.profile {
    width: 70%;
	min-height: 200px;
	margin: 20px auto;
	padding: 15px 0px;
	background-color: #113c3c;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
}